* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #F4F4F4;
}

main {
    padding: 20px;
    overflow: auto;
}

header{
    display: inline;
}

h2 {
    color: #062B47
}

.title{
    text-decoration: underline;
    padding: 20px;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
 }

footer {
    padding: 5px;
    color: white;
    background-color: #062B47;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    position: sticky;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (min-width: 810px) {
    .posts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 
    }
  
    .post {
      flex-basis: 49%; 
    } 
}
